.carreras-headers-align .mat-expansion-panel-header-title,
.carreras-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.carreras-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

:host ::ng-deep .mat-grid-tile .mat-figure {
  align-items: unset !important;
  padding: 20px;
}

.player-list {
  overflow: scroll;
}

.carreraInactivo {
  animation: fadeOut 2s;
  animation-fill-mode: both;
}

.carreraActivo {
  animation: fadeIn 2s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.noData {
  text-align: center;
  padding: 10px;
  color: #673ab7;
}

.search-input {
  width: 100%;
}

.carrera-card {
  max-width: 350px;
  max-height: 250px;
  margin: 10px;
}

.carrera-header-image {
  background-image: url('http://via.placeholder.com/50x50?text=thumb');
  background-size: cover;
}

.pull-right {
  text-align: right;
}
