.pull-right {
    text-align: right;
}

.informacion-card {
    max-width: 400px;
}

.informacion-header-image {
    background-image: url('http://via.placeholder.com/50x50?text=thumb');
    background-size: cover;
}